body {
  background-color: black;
}

.container {  display: grid;
  grid-template-columns: 1fr 1.3fr 0.7fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title Title Title"
    "Parameters Graphs Graphs Code"
    "Parameters Graphs Graphs Code"
    "Data Results Results Logo";
  background-color: lightgray;
  outline:2px solid black;
  outline-offset: -10px;
}

#regularization_dropdown {
    width: 80% !important;
    position: inline-block !important;
}

#regularization_input {
    width: 20% !important;
    position: inline-block !important;
}

#optimizer_dropdown {
    display: none;
}

#regularization_dropdown {
    display: none;
}

#regularization_input {
    display: none;
}

#algorithm_dropdown {
    display: none;
}

#button {
    display:none;
}

.code-holder{
  padding:10px;
  width: 280px; /* your prefered width */
  overflow-x: scroll;
  height: 100%;/* Your prfered height*/
}

.code-holder code{
 white-space: pre; /* this rule is important*/
}

.title-text {
  margin-left: -50px;
}

.Title { grid-area: Title; font-weight: bold; white-space:nowrap;}

.Parameters { grid-area: Parameters; }

.Graphs { grid-area: Graphs; }

.Code { grid-area: Code; }

.Results { grid-area: Results; padding-top: 10px;}

.Data { grid-area: Data; padding-top: 10px;}

.Logo { grid-area: Logo; padding-top: 10px;}

.center {
  margin: auto;
  width: 50%;
}
