body {
  background-color: #2b2f30;
  margin: 0 !important;
}

h1 {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.7fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title Title Title"
    "Options Graphs Graphs Graphs"
    "Options Graphs Graphs Graphs"
    "Data Results Results Info";
  background-color: #415054;
  height: 95vh;
  box-shadow: -8px 8px 0 black;
}

.accordion-item:focus {
  background-color: #415054;
}

/* input box */
.Select-control {
    background-color: black;
}

/* changes the text color of input box */
.Select-value-label {
    color: white !important;
}

.Select--single > .Select-control .Select-value {
  background-color: #343a40;
  border: 1px solid grey;
  border-radius: 4px;
}

.dropdown .Select-control {
    background-color: #343a40;
    color: white;
}

.dropdown .Select-menu-outer {
    background-color: #343a40;
    color: white;
}

.dropdown .Select-option.is-selected {
    background-color: #1E90FF;
    color: white;
}

.table {
    color: white;
}

.table thead {
    background-color: #343a40;
    font-weight: bold;
}

a {
    color: lightgray;
}

.accordion-text {
    font-size: 9px;
}

.hidden {
  display: none;
}

#data-tab {
  width: 10rem;
}

#residuals-tab {
  display: none;
  width: 10rem;
}

#residual-distribution-tab {
  display: none;
  width: 10rem;
}

#classification_dropdown {
  display: none;
}

#regularization_dropdown {
    width: 80% !important;
    position: inline-block !important;
}

#regularization_input {
    width: 20% !important;
    position: inline-block !important;
}

#regression_method_dropdown {
    display: none;
}

#optimizer_dropdown {
    display: none;
}

#regularization_dropdown {
    display: none;
}

#regularization_input {
    display: none;
}

#algorithm_dropdown {
    display: none;
}

#results-text {
  color: white;
  padding-left: 45%
}

#data-text {
  color: white;
}

#results-table {
    padding-left: 20%
}

.logo {
  color: white !important;
}

.tabs {
    padding-top: 0px !important;
    height: 20px;
}

.Title { grid-area: Title; font-weight: bold; white-space:nowrap;}

.Options { grid-area: Options; }

.Graphs { grid-area: Graphs; }

.Info { grid-area: Info;
  margin: auto;
  width: 80%; }

.Results { grid-area: Results; padding-top: 15px;}

.Data { grid-area: Data; padding-top: 15px;}

.Logo { grid-area: Logo; padding-top: 10px;}

.center {
  margin: auto;
  width: 50%;
}
